@model IEnumerable<ImageUploadRetrive.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<table class="table text-center">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ImageId)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.ImageName)</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(Modelitem => item.ImageId)</td>
                <td>@Html.DisplayFor(Modelitem => item.Title)</td>
                <td>@Html.DisplayFor(Modelitem => item.ImageName)</td>
                <td><img decoding="async" src="@("~/images/"+item.ImageName)" asp-append-version="true" width="100px" height="100px" /></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>